* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}

header {
    background: var(--background);
    text-decoration: none;
}

h1 {
    width: 100rem;
    height: 5rem;
    margin: 30px;
    font-size: 5rem;
}

h4{
    font-size: 2rem;
    margin: 2rem;
}

li a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #f00;

}

p {
    font-size: 16px;
    padding: 1.5rem 0 1.5rem 0;
    color: #000;
    margin: 16px;
}

.drapeau{
    display: flex;
    width: 900px;
    height: 600px;
    margin: 10px;
    border-radius:10px  ;
    animation: flotter 2s ease-in-out infinite;
}

.vert{
    background-color: #009500;
    flex: 1;

}

.rouge{
    background: #f00;
    flex: 1;
}

.etoile{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 250px 0;
}

.jaune{
    background: #ffff00;
    flex: 1;
}